.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
